@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto&display=swap");

/* Reseteo de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Estilo para el body con fondo de pantalla */
body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
}

/* Estilos para el contenedor principal del formulario */
.Whole {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Configurar la caja del contenido principal*/
.login {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
  padding: 30px;
  border-radius: 20px;
  background-color: #f6f66d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-top: -150px; /* Mover la caja un poco hacia arriba */
  padding-bottom: 50px;
}

/* Configuracion del logo */
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  height: auto;
}

/* Configurqacion para los titulos */
.titulos {
  text-align: center;
  margin-bottom: 30px;
}

.input-box {
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para los campos de entrada */
.input-box input {
  width: 80%;
  height: 50px;
  border: none;
  background: white; /* Cambiar el color de fondo a blanco */
  border-radius: 40px;
  border: 3px solid rgba(255, 255, 255, 0.407);
  font-size: 15px;
  padding-left: 15px;
  text-align: center; /* Centrar el texto */
  margin-top: 10px;
  margin-bottom: 10px;
}

#usuario-error input {
    border: 2px solid red;
}

#password-error input{
    border: 2px solid red;
}

/* Estilos para los botones */
.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Agregar espacio entre los botones */
}

.btn {
  flex: 1; /* Ajustar el tamaño de los botones para que ocupen el mismo ancho */
  height: 45px;
  border: none;
  background-color: #eee7e7;
  font-size: 17px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 500;
  color: black;
  margin: 0 5px; /* Agregar margen entre los botones */
}


.btn:hover {
  background-color: #94f65c; /* Cambiar a un color similar al amarillo, pero no exactamente amarillo */
  color: black;
}

/* Responsividad */

/* Para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
  .Whole {
    padding: 20px;
  }

  .btn-group {
    flex-direction: column;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn:last-child {
    margin-bottom: 0;
  }
}

/* Para dispositivos con ancho máximo de 480px */
@media (max-width: 480px) {
  .login {
    padding: 20px;
  }

  .titulos h1 {
    font-size: 24px;
  }

  .titulos h2 {
    font-size: 18px;
  }

  .input-box input {
    height: 40px;
    font-size: 14px;
  }

  .btn {
    height: 40px;
    font-size: 16px;
  }
}
