* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imagen/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

/* Configuración para Login */

.logoLogin {
    height: 200px;
    width: auto;
}